# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# other eslint
.eslint*

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env
.env.test

# Vim .swp files
*.swo
*.swp

# Private data
.private_data*

# Stuff from next.js
.next
